{% extends "layout/main.twig" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

            <div class="page-header">
                <h1>Witaj {{ username }}</h1>
            </div>
            <p class="lead">Znajdujesz się na stronie głównej projektu JavaCourse.</p>

{% endblock %}

{% block footer %}
    <p class="muted credit">Mariusz Zych <a href="mailto:254157@fizyka.umk.pl">254157@fizyka.umk.pl</a>.</p>
{% endblock %}


